# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.lib
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/
/demo
/dist
/debug-pkg
/debug-rpc
/debug-app
/debug-cmd
/hostbridge
/apptron
/_local
/demos/chrome/chrome
/demos/chrome/Chrome.app
/demos/helloworld/Helloworld.app
/demos/helloworld/helloworld
/demos/indicator/Indicator.app
/demos/indicator/indicator
/clientjs/docs


