name = "apptron"
compatibility_date = "2025-08-21"
main = "./worker/src/worker.ts"
routes = [
  { pattern = "*.apptron.dev/*", zone_name = "apptron.dev" },
  { pattern = "apptron.dev/*", zone_name = "apptron.dev" },
  { pattern = "*.aptn.pub/*", zone_name = "aptn.pub" },
]

[assets]
directory = "./assets"
binding = "assets"
run_worker_first = [ 
  "/signin", 
  "/signout", 
  "/dashboard",
  "/shell",
  "/debug",
]

[observability.logs]
enabled = true

[[containers]]
class_name = "Session"
image = "./Dockerfile"
max_instances = 1
instance_type = "standard-4"

[[durable_objects.bindings]]
class_name = "Session"
name = "session"

[[migrations]]
new_sqlite_classes = [ "Session" ]
tag = "v1"

[[r2_buckets]]
binding = "bucket"
bucket_name = "apptron-dev"
