name = "apptron-debug-cfshell"
compatibility_date = "2025-08-21"
main = "./worker.ts"

[[containers]]
class_name = "Shell"
image = "./Dockerfile"
max_instances = 1
instance_type = "standard-4"

[[durable_objects.bindings]]
class_name = "Shell"
name = "shell"

[[migrations]]
new_sqlite_classes = [ "Shell" ]
tag = "v1"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1