name: Deploy Apptron

on:
  push:
    branches:
      - release

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Cloudflare
    environment:
      name: 'production'
      url: https://apptron.dev
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          check-latest: true
          cache: 'npm'
          cache-dependency-path: worker/package-lock.json
          
      - name: Build project
        run: |
          make all
          
      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        id: deploy
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: 4.43.0
          command: deploy
